@import "tailwindcss";

:root {
  /* Main Colors */
  --color-blue: #2FC3CA;
  --color-soft-blue: #B2FCFF;
  --color-purple: #4B2E83;
  --color-soft-purple: #9747FF;
  --color-lilac: #A596C1;
  --color-white: #FFFFFF;
  --color-black: #171717;
  --color-brown: #28160a;
  --color-yellow: #b9873b;
  --color-brown-dark: #28160A;
  --color-brown-alt: #271601;

  --color-success: #2e7d32;
  --color-warning: #ed6c02;
  --color-error: #d32f2f;
  --color-info: #3293ab;
}

@keyframes gradientTransition {
  0%, 100% {
    background: linear-gradient(to right, var(--color-brown-dark), var(--color-brown-alt));
  }
  50% {
    background: linear-gradient(to right, var(--color-brown-alt), var(--color-brown-dark));
  }
}

.bg-gradient-transition {
  animation: gradientTransition 8s ease-in-out infinite;
  background-size: 200% 100%;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-brown {
  background-color: var(--color-brown);
}

.bg-brown-30 {
  background-color: rgba(40, 22, 10, 0.308);
}

.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-yellow-30 {
  background-color: rgba(185, 135, 59, 0.3);
  
}

.bg-body-gradient {
  background: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-white) 90%
  );
}

.bg-header-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple) 50%,
    var(--color-lilac) 79%,
    var(--color-white) 100%
  );
}

.bg-button-blue-gradient {
  background: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-soft-blue) 50%,
    var(--color-blue) 100%
  );
}

.bg-button-purple-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple) 0%,
    var(--color-soft-purple) 50%,
    var(--color-purple) 100%
  );
}

.bg-golden-gradient {
  background: linear-gradient(
    to right,
    var(--color-brown) 0%,
    var(--color-yellow) 50%,
    var(--color-brown) 100%
  );
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}

.logo-shadow {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
}

.button-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-shadow:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.border-golden-gradient {
  border: 4px solid transparent;
  background: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-soft-blue) 50%,
    var(--color-blue) 100%
  ) padding-box,
              linear-gradient(to right, var(--color-brown) 0%, var(--color-yellow) 50%, var(--color-brown) 100%) border-box;
}

/* Swiper Navigation Styles */
.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
  background-color: #28160A !important;
  border-radius: 50% !important;
  position: absolute !important;
  z-index: 10 !important;
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 12s linear infinite;
}

@keyframes sway3D {
  0% {
    transform: perspective(1000px) rotateY(-25deg);
  }
  50% {
    transform: perspective(1000px) rotateY(15deg);
  }
  100% {
    transform: perspective(1000px) rotateY(-25deg);
  }
}

.animate-sway3D {
  animation: sway3D 4s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes contentGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: contentGradient 12s ease-in-out infinite;
  background-size: 200% 100%;
  background-blend-mode: soft-light;
}
