@import "tailwindcss";

:root {
  /* Main Colors */
  --color-blue: #2FC3CA;
  --color-soft-blue: #B2FCFF;
  --color-purple: #4B2E83;
  --color-soft-purple: #9747FF;
  --color-lilac: #A596C1;
  --color-white: #FFFFFF;
  --color-black: #171717;
  --color-brown: #784A00;
  --color-yellow: #FECA02;

  --color-success: #2e7d32;
  --color-warning: #ed6c02;
  --color-error: #d32f2f;
  --color-info: #3293ab;

}

.bg-body-gradient {
  background: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-white) 90%
  );
}

.bg-header-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple) 50%,
    var(--color-lilac) 79%,
    var(--color-white) 100%
  );
}

.bg-button-blue-gradient {
  background: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-soft-blue) 50%,
    var(--color-blue) 100%
  );
}

.bg-button-purple-gradient {
  background: linear-gradient(
    to right,
    var(--color-purple) 0%,
    var(--color-soft-purple) 50%,
    var(--color-purple) 100%
  );
}

.bg-golden-gradient {
  background: linear-gradient(
    to right,
    var(--color-brown) 0%,
    var(--color-yellow) 50%,
    var(--color-brown) 100%
  );
}
